@import "tailwindcss";

:root { 
  --primary-clr: #121630;
  --secondary-clr: #D4AF37;
}

/* 👇 ADD THIS */
@layer base {
  .font-playfair {
    font-family: var(--font-playfair), serif;
  }
}

@theme inline {
  --color-primary: var(--primary-clr);
  --color-secondary: var(--secondary-clr);
}

body {
  scroll-behavior: smooth;

  /* font-family: var(--font-playfair), serif; */
}